<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家教媒合｜首頁</title>
  <link href="{{ url_for('static', filename='handshake.jpg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/common_style.css') }}">
</head>
<body>
  <!-- 頁首 -->
  <header class="site-header">
    <div>
      <h1 class="site-title" style="display: block;">家教媒合平台</h1>
    </div>
    
  </header>

  <!-- 文字介紹 -->
  <main class="intro">
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div class="intro-text">
    歡迎來到 TutorVibe！快速找到優質家教，並輕鬆預約。
  </div>
  <div>
    <a href="{{ url_for('login') }}" class="btn-start">開始使用</a>
  </div>
  
  </main>

</body>
</html>