<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>會員專區</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common_style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/student_case_style.css') }}">
</head>
<body>
  <!-- 頁首 -->
  <header class="site-header">
    <h1 class="site-title">家教媒合平台</h1>
  
  </header>
  <a class="btn-back" href="/member">← 返回</a>

  <!-- 頁尾 -->
  <footer class="site-footer">
    <p>© 2025 TutorVibe. All rights reserved.</p>
  </footer>
</body>
</html>
